In [1]:
import numpy as np

# stack

In [39]:
a = np.ones((4,4))
b= np.ones((4,4))*2
c=np.ones((4,4))*3

In [14]:
np.dstack?

In [20]:

t = np.dstack( [a,b,c] )
t

array([[[1., 2., 3.],
        [1., 2., 3.],
        [1., 2., 3.],
        [1., 2., 3.]],

       [[1., 2., 3.],
        [1., 2., 3.],
        [1., 2., 3.],
        [1., 2., 3.]],

       [[1., 2., 3.],
        [1., 2., 3.],
        [1., 2., 3.],
        [1., 2., 3.]],

       [[1., 2., 3.],
        [1., 2., 3.],
        [1., 2., 3.],
        [1., 2., 3.]]])

In [47]:
print(t.shape)
print(a[0,1])
t[0,1,1]

(4, 4, 3)
1.0

2.0

In [48]:
for dim in range(-1,3):
    print(dim)
    print(np.stack([a,b,c],axis=dim).shape)

-1
(4, 4, 3)
0
(3, 4, 4)
1
(4, 3, 4)
2
(4, 4, 3)

## and nanmean

In [51]:
t[0,0,0]=np.nan
np.mean(t,axis=2)

array([[nan,  2.,  2.,  2.],
       [ 2.,  2.,  2.,  2.],
       [ 2.,  2.,  2.,  2.],
       [ 2.,  2.,  2.,  2.]])

In [53]:
np.nanmean(t,axis=2)

array([[2.5, 2. , 2. , 2. ],
       [2. , 2. , 2. , 2. ],
       [2. , 2. , 2. , 2. ],
       [2. , 2. , 2. , 2. ]])

# masked array

In [119]:
data = np.arange(12).reshape(3, 4)
mask1 = np.array([[0., 0., 1., 0.],
                    [0., 0., 0., 1.],
                    [0., 1., 0., 0.]])

mask2 = np.array([[1., 1., 1., 1.],
                    [0., 0., 0., 0.],
                    [0., 0., 0., 0.]])

masked_array = np.ma.array(data, mask=mask)
masked_array2 = np.ma.array(data, mask=mask2)

In [123]:
# small function to fill in nans. 
def ma_to_nan(x):
    return x.astype('float64').filled(np.nan)

ma_to_nan(masked_array)

# stack with that.
masked_stack = np.stack((ma_to_nan(masked_array),ma_to_nan(masked_array2)),axis=2)


avg_with_nans = np.nanmean(masked_stack,axis=2)
display(avg_with_nans)
#.nan_to_num(0)


#masked_array.data 
#masked_array.mask

/Users/emil/.pyenv/versions/3.7.1/lib/python3.7/site-packages/ipykernel_launcher.py:11: RuntimeWarning: Mean of empty slice
  # This is added back by InteractiveShellApp.init_path()

array([[ 0.,  1., nan,  3.],
       [ 4.,  5.,  6.,  7.],
       [ 8.,  9., 10., 11.]])

In [118]:
masked_array
#np.mean(masked_array,1)

masked_array(
  data=[[0, 1, --, 3],
        [4, 5, 6, --],
        [8, --, 10, 11]],
  mask=[[False, False,  True, False],
        [False, False, False,  True],
        [False,  True, False, False]],
  fill_value=999999)

In [108]:
?np.nanmean

In [101]:
tmp = masked_array.data
tmp.astype('float64').dtype
#a.dtype

dtype('float64')

In [103]:
masked_stack = np.stack((masked_array.astype("float64").filled(np.nan),masked_array),axis=2)

In [76]:
np.mean(masked_stack,axis=0)

masked_array(
  data=[[4., 4.],
        [5., 5.],
        [6., 6.],
        [7., 7.]],
  mask=False,
  fill_value=999999)

In [72]:
masked_stack

masked_array(
  data=[[[ 0,  0],
         [ 1,  1],
         [ 2,  2],
         [ 3,  3]],

        [[ 4,  4],
         [ 5,  5],
         [ 6,  6],
         [ 7,  7]],

        [[ 8,  8],
         [ 9,  9],
         [10, 10],
         [11, 11]]],
  mask=False,
  fill_value=999999)

1e+20

In [75]:
#masked_array.set_fill_value(np.nan)

'1.15.4'